body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

/* header */

header {
    display: flex;
    width: 100%;
    background-color: #5563fa;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

header h1 {
    padding-left: 30px;
}

header nav ul {
    display: flex;
    padding-right: 30px;
}

header nav ul li {
    padding-right: 20px;
}

.required {
    background-color: #fe2626;
    padding: 2px 4px;
    font-size: .825rem;
    border-radius: 2px;
    margin-left: 4px;
    color: #fff;
}

/* main */

main {
    padding-top: 60px;
}

h1 {
    text-align: center;
    margin: 2rem 0;
    color: #2c3e50;
    font-size: 1.8rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

input[type="text"],
input[type="email"] {
    border: 1px solid #ddd;
    font-size: 1rem;
    border-radius: 4px;
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;
}

#age-select,
#message {
    border: 1px solid #ddd;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 4px;
    width: 100%;
}

.radio-group,
.checkbox-group {
    display: flex;
    gap: .5rem;
    margin: 0;
}

.radio-group label ,
.checkbox-group label {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 0;
    font-weight: normal;
}

.btn {
    background: #5563fa;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 50px;
    font-size: 1rem;
    cursor: pointer; 
    transition: background-color .3s ease;
}

.btn:hover {
    background-color: #e97337;
}

/* form.css の .btn スタイルに追加 */
.btn:disabled {
    background-color: #aaa; /* 無効状態の色（グレーなど） */
    cursor: not-allowed; /* マウスカーソルを禁止マークに変更 */
    opacity: 0.6; /* 透明度を下げて、無効な状態を強調 */
}

/* footer */

footer {
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    background-color: #5563fa;
    /* z-index: 100; */
}

footer img {
    padding-left: 30px;
    margin-bottom: 30px;
}

footer p {
    text-align: center;
    font-size: 0.875rem;
}