body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

/* header */

header {
    display: flex;
    width: 100%;
    background-color: #5563fa;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

header h1 {
    padding-left: 30px;
}

header nav ul {
    display: flex;
    padding-right: 30px;
}

header nav ul li {
    padding-right: 20px;
}


/* main */
.mainvisual-page1 img {
    width: 100%;
    height: 900px;
}

/* gym-guidance */
.gym-info {
    margin: 50px 0;
}

.gym-guidance dl dt {
    font-size: 1.125rem;
}

.price , .adress , .feature dd {
    padding-bottom: 10px;
}

/* footer */
footer {
    background-color: #5563fa;
}

footer img {
    padding-left: 30px;
    margin-bottom: 30px;
}

footer p {
    text-align: center;
    font-size: 0.875rem;
}
