body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

.page-title {
    /* margin-top: 100px; */
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: left;
}

/* header */

header {
    display: flex;
    width: 100%;
    background-color: #5563fa;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

header h1 {
    padding-left: 30px;
}

header nav ul {
    display: flex;
    padding-right: 30px;
}

header nav ul li {
    padding-right: 20px;
}

/* gymlist */

.gym-list h2 {
    text-align: center;
    margin: 30px 0;
}

.lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0;
}

.gym-card img{
    width: 100%;
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px; */
}

.gym-card .gym-name,
.gym-info {
    text-align: center;
}

.gym-card .gym-name {
    font-size: 1.2rem;
    padding: 20px;
}

.gym-card a {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.gym-card a:hover {
    color: #5563fa;
}

.see-more ul {
    display: flex;
    justify-content: center;
}

.see-more ul li {
    padding: 10px;
}

.page-link {
    display: inline-block;
    text-align: center;
    color: #5563fa;
    font-size: 1rem;
    cursor: pointer;
    transition: color .3s ease, transform 0.3s ease; 
}

.page-link:hover {
    color: #e97337;
    transform: scale(1.5); 
}

footer {
    background-color: #5563fa;
}

footer img {
    padding-left: 30px;
    margin-bottom: 30px;
}

footer p {
    text-align: center;
    font-size: 0.875rem;
}